body {
  background: #333;
  padding: 0;
  margin: 1rem;
}
main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
div {
  /* max-width: 25vw; */
  /* flex: 1; */
  display: grid;
  place-items: center;
}
img {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  cursor: cell;
  transition: opacity 0.25s, scale 0.25s;
  background: white;
}
img:active {
  opacity: 0.75;
}
img:hover {
  scale: 1.01;
}
.count-container {
  position: absolute;
  background: rgba(227, 222, 222, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: default;
  text-shadow: -1px -1px white, 0px -1px white, 1px -1px white, -1px 0px white,
    1px 0px white, -1px 1px white, 0px 1px white, 1px 1px white;
}
.count {
  width: 5ch;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  cursor: default;
}
.loading:before {
  z-index: -1; /* in real usage, make this a high positive number */

  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: calc(50% - 120px / 2); /* -1/2 of height */
  left: calc(50% - 120px / 2); /* -1/2 of width */
  box-sizing: border-box;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  box-shadow: 0 0 20px 0 #00000050, inset 0 0 20px 0 #00000050;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
